<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mutoublog.dao.mapper.MtArticleMapper">
  <resultMap id="BaseResultMap" type="com.mutoublog.dao.entity.MtArticle">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="uid" jdbcType="INTEGER" property="uid" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="cate_id" jdbcType="TINYINT" property="cateId" />
    <result column="author" jdbcType="VARCHAR" property="author" />
    <result column="pass" jdbcType="VARCHAR" property="pass" />
    <result column="brief" jdbcType="VARCHAR" property="brief" />
    <result column="tags" jdbcType="VARCHAR" property="tags" />
    <result column="link" jdbcType="VARCHAR" property="link" />
    <result column="sort" jdbcType="INTEGER" property="sort" />
    <result column="cover" jdbcType="VARCHAR" property="cover" />
    <result column="view" jdbcType="INTEGER" property="view" />
    <result column="is_top" jdbcType="TINYINT" property="isTop" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="comment_count" jdbcType="SMALLINT" property="commentCount" />
    <result column="comment_status" jdbcType="TINYINT" property="commentStatus" />
    <result column="create_year" jdbcType="SMALLINT" property="createYear" />
    <result column="create_date" jdbcType="DATE" property="createDate" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.mutoublog.dao.entity.MtArticle">
    <result column="content" jdbcType="LONGVARCHAR" property="content" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, uid, title, cate_id, author, pass, brief, tags, link, sort, cover, view, is_top, 
    status, comment_count, comment_status, create_year, create_date, create_time, update_time
  </sql>
  <sql id="Blob_Column_List">
    content
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="com.mutoublog.dao.entity.MtArticleExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from mt_article
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="com.mutoublog.dao.entity.MtArticleExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from mt_article
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from mt_article
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from mt_article
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.mutoublog.dao.entity.MtArticleExample">
    delete from mt_article
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.mutoublog.dao.entity.MtArticle">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into mt_article (uid, title, cate_id, 
      author, pass, brief, 
      tags, link, sort, cover, 
      view, is_top, status, 
      comment_count, comment_status, create_year, 
      create_date, create_time, update_time)
    values (#{uid,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{cateId,jdbcType=TINYINT}, 
      #{author,jdbcType=VARCHAR}, #{pass,jdbcType=VARCHAR}, #{brief,jdbcType=VARCHAR}, 
      #{tags,jdbcType=VARCHAR}, #{link,jdbcType=VARCHAR}, #{sort,jdbcType=INTEGER}, #{cover,jdbcType=VARCHAR}, 
      #{view,jdbcType=INTEGER}, #{isTop,jdbcType=TINYINT}, #{status,jdbcType=TINYINT}, 
      #{commentCount,jdbcType=SMALLINT}, #{commentStatus,jdbcType=TINYINT}, #{createYear,jdbcType=SMALLINT}, 
      #{createDate,jdbcType=DATE}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.mutoublog.dao.entity.MtArticle">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into mt_article
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="uid != null">
        uid,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="cateId != null">
        cate_id,
      </if>
      <if test="author != null">
        author,
      </if>
      <if test="pass != null">
        pass,
      </if>
      <if test="brief != null">
        brief,
      </if>
      <if test="tags != null">
        tags,
      </if>
      <if test="link != null">
        link,
      </if>
      <if test="sort != null">
        sort,
      </if>
      <if test="cover != null">
        cover,
      </if>
      <if test="view != null">
        view,
      </if>
      <if test="isTop != null">
        is_top,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="commentCount != null">
        comment_count,
      </if>
      <if test="commentStatus != null">
        comment_status,
      </if>
      <if test="createYear != null">
        create_year,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="uid != null">
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="cateId != null">
        #{cateId,jdbcType=TINYINT},
      </if>
      <if test="author != null">
        #{author,jdbcType=VARCHAR},
      </if>
      <if test="pass != null">
        #{pass,jdbcType=VARCHAR},
      </if>
      <if test="brief != null">
        #{brief,jdbcType=VARCHAR},
      </if>
      <if test="tags != null">
        #{tags,jdbcType=VARCHAR},
      </if>
      <if test="link != null">
        #{link,jdbcType=VARCHAR},
      </if>
      <if test="sort != null">
        #{sort,jdbcType=INTEGER},
      </if>
      <if test="cover != null">
        #{cover,jdbcType=VARCHAR},
      </if>
      <if test="view != null">
        #{view,jdbcType=INTEGER},
      </if>
      <if test="isTop != null">
        #{isTop,jdbcType=TINYINT},
      </if>
      <if test="status != null">
        #{status,jdbcType=TINYINT},
      </if>
      <if test="commentCount != null">
        #{commentCount,jdbcType=SMALLINT},
      </if>
      <if test="commentStatus != null">
        #{commentStatus,jdbcType=TINYINT},
      </if>
      <if test="createYear != null">
        #{createYear,jdbcType=SMALLINT},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=DATE},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.mutoublog.dao.entity.MtArticleExample" resultType="java.lang.Long">
    select count(*) from mt_article
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update mt_article
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.uid != null">
        uid = #{record.uid,jdbcType=INTEGER},
      </if>
      <if test="record.title != null">
        title = #{record.title,jdbcType=VARCHAR},
      </if>
      <if test="record.cateId != null">
        cate_id = #{record.cateId,jdbcType=TINYINT},
      </if>
      <if test="record.author != null">
        author = #{record.author,jdbcType=VARCHAR},
      </if>
      <if test="record.pass != null">
        pass = #{record.pass,jdbcType=VARCHAR},
      </if>
      <if test="record.brief != null">
        brief = #{record.brief,jdbcType=VARCHAR},
      </if>
      <if test="record.tags != null">
        tags = #{record.tags,jdbcType=VARCHAR},
      </if>
      <if test="record.link != null">
        link = #{record.link,jdbcType=VARCHAR},
      </if>
      <if test="record.sort != null">
        sort = #{record.sort,jdbcType=INTEGER},
      </if>
      <if test="record.cover != null">
        cover = #{record.cover,jdbcType=VARCHAR},
      </if>
      <if test="record.view != null">
        view = #{record.view,jdbcType=INTEGER},
      </if>
      <if test="record.isTop != null">
        is_top = #{record.isTop,jdbcType=TINYINT},
      </if>
      <if test="record.status != null">
        status = #{record.status,jdbcType=TINYINT},
      </if>
      <if test="record.commentCount != null">
        comment_count = #{record.commentCount,jdbcType=SMALLINT},
      </if>
      <if test="record.commentStatus != null">
        comment_status = #{record.commentStatus,jdbcType=TINYINT},
      </if>
      <if test="record.createYear != null">
        create_year = #{record.createYear,jdbcType=SMALLINT},
      </if>
      <if test="record.createDate != null">
        create_date = #{record.createDate,jdbcType=DATE},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update mt_article
    set id = #{record.id,jdbcType=INTEGER},
      uid = #{record.uid,jdbcType=INTEGER},
      title = #{record.title,jdbcType=VARCHAR},
      cate_id = #{record.cateId,jdbcType=TINYINT},
      author = #{record.author,jdbcType=VARCHAR},
      pass = #{record.pass,jdbcType=VARCHAR},
      brief = #{record.brief,jdbcType=VARCHAR},
      tags = #{record.tags,jdbcType=VARCHAR},
      link = #{record.link,jdbcType=VARCHAR},
      sort = #{record.sort,jdbcType=INTEGER},
      cover = #{record.cover,jdbcType=VARCHAR},
      view = #{record.view,jdbcType=INTEGER},
      is_top = #{record.isTop,jdbcType=TINYINT},
      status = #{record.status,jdbcType=TINYINT},
      comment_count = #{record.commentCount,jdbcType=SMALLINT},
      comment_status = #{record.commentStatus,jdbcType=TINYINT},
      create_year = #{record.createYear,jdbcType=SMALLINT},
      create_date = #{record.createDate,jdbcType=DATE},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update mt_article
    set id = #{record.id,jdbcType=INTEGER},
      uid = #{record.uid,jdbcType=INTEGER},
      title = #{record.title,jdbcType=VARCHAR},
      cate_id = #{record.cateId,jdbcType=TINYINT},
      author = #{record.author,jdbcType=VARCHAR},
      pass = #{record.pass,jdbcType=VARCHAR},
      brief = #{record.brief,jdbcType=VARCHAR},
      tags = #{record.tags,jdbcType=VARCHAR},
      link = #{record.link,jdbcType=VARCHAR},
      sort = #{record.sort,jdbcType=INTEGER},
      cover = #{record.cover,jdbcType=VARCHAR},
      view = #{record.view,jdbcType=INTEGER},
      is_top = #{record.isTop,jdbcType=TINYINT},
      status = #{record.status,jdbcType=TINYINT},
      comment_count = #{record.commentCount,jdbcType=SMALLINT},
      comment_status = #{record.commentStatus,jdbcType=TINYINT},
      create_year = #{record.createYear,jdbcType=SMALLINT},
      create_date = #{record.createDate,jdbcType=DATE},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.mutoublog.dao.entity.MtArticle">
    update mt_article
    <set>
      <if test="uid != null">
        uid = #{uid,jdbcType=INTEGER},
      </if>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="cateId != null">
        cate_id = #{cateId,jdbcType=TINYINT},
      </if>
      <if test="author != null">
        author = #{author,jdbcType=VARCHAR},
      </if>
      <if test="pass != null">
        pass = #{pass,jdbcType=VARCHAR},
      </if>
      <if test="brief != null">
        brief = #{brief,jdbcType=VARCHAR},
      </if>
      <if test="tags != null">
        tags = #{tags,jdbcType=VARCHAR},
      </if>
      <if test="link != null">
        link = #{link,jdbcType=VARCHAR},
      </if>
      <if test="sort != null">
        sort = #{sort,jdbcType=INTEGER},
      </if>
      <if test="cover != null">
        cover = #{cover,jdbcType=VARCHAR},
      </if>
      <if test="view != null">
        view = #{view,jdbcType=INTEGER},
      </if>
      <if test="isTop != null">
        is_top = #{isTop,jdbcType=TINYINT},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="commentCount != null">
        comment_count = #{commentCount,jdbcType=SMALLINT},
      </if>
      <if test="commentStatus != null">
        comment_status = #{commentStatus,jdbcType=TINYINT},
      </if>
      <if test="createYear != null">
        create_year = #{createYear,jdbcType=SMALLINT},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=DATE},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.mutoublog.dao.entity.MtArticle">
    update mt_article
    set uid = #{uid,jdbcType=INTEGER},
      title = #{title,jdbcType=VARCHAR},
      cate_id = #{cateId,jdbcType=TINYINT},
      author = #{author,jdbcType=VARCHAR},
      pass = #{pass,jdbcType=VARCHAR},
      brief = #{brief,jdbcType=VARCHAR},
      tags = #{tags,jdbcType=VARCHAR},
      link = #{link,jdbcType=VARCHAR},
      sort = #{sort,jdbcType=INTEGER},
      cover = #{cover,jdbcType=VARCHAR},
      view = #{view,jdbcType=INTEGER},
      is_top = #{isTop,jdbcType=TINYINT},
      status = #{status,jdbcType=TINYINT},
      comment_count = #{commentCount,jdbcType=SMALLINT},
      comment_status = #{commentStatus,jdbcType=TINYINT},
      create_year = #{createYear,jdbcType=SMALLINT},
      create_date = #{createDate,jdbcType=DATE},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mutoublog.dao.entity.MtArticle">
    update mt_article
    set uid = #{uid,jdbcType=INTEGER},
      title = #{title,jdbcType=VARCHAR},
      cate_id = #{cateId,jdbcType=TINYINT},
      author = #{author,jdbcType=VARCHAR},
      pass = #{pass,jdbcType=VARCHAR},
      brief = #{brief,jdbcType=VARCHAR},
      tags = #{tags,jdbcType=VARCHAR},
      link = #{link,jdbcType=VARCHAR},
      sort = #{sort,jdbcType=INTEGER},
      cover = #{cover,jdbcType=VARCHAR},
      view = #{view,jdbcType=INTEGER},
      is_top = #{isTop,jdbcType=TINYINT},
      status = #{status,jdbcType=TINYINT},
      comment_count = #{commentCount,jdbcType=SMALLINT},
      comment_status = #{commentStatus,jdbcType=TINYINT},
      create_year = #{createYear,jdbcType=SMALLINT},
      create_date = #{createDate,jdbcType=DATE},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>